.u-section-1 {background-image: none; min-height: 1142px}
.u-section-1 .u-image-1 {height: 657px; object-position: 50% 0%; margin: 0 auto 0 0}
.u-section-1 .u-list-1 {min-height: 407px; grid-template-columns: repeat(3, calc(33.3333% - 20px)); grid-template-rows: repeat(1, auto); width: 1140px; grid-gap: 30px; margin: -255px auto 0}
.u-section-1 .u-image-2 {background-image: url("images/WP.png"); background-position: 50% 50%}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-btn-1 {border-style: solid; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; font-size: 1rem; background-image: none; margin: 0 auto}
.u-section-1 .u-image-3 {background-image: url("images/tennis.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-btn-2 {border-style: solid; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; font-size: 1rem; margin: 0 auto}
.u-section-1 .u-image-4 {background-image: url("images/lacrosse.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-btn-3 {border-style: solid; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; font-size: 1rem; background-image: none; margin: 0 auto}
.u-section-1 .u-text-1 {margin: 42px auto 0}
.u-section-1 .u-text-2 {margin: 12px auto 0}
.u-section-1 .u-text-3 {margin: 20px auto 60px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 1050px}
.u-section-1 .u-image-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-list-1 {min-height: 336px; width: 940px; height: auto; margin-top: -362px; margin-left: calc(((100% - 940px) / 2))}
.u-section-1 .u-btn-1 {padding: 0}
.u-section-1 .u-btn-2 {padding: 0}
.u-section-1 .u-btn-3 {padding: 0} }

@media (max-width: 991px){ .u-section-1 {min-height: 1300px}
.u-section-1 .u-list-1 {min-height: 772px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2) + 345px)); width: 720px; margin-top: -366px; margin-left: calc(((100% - 720px) / 2))} }

@media (max-width: 767px){ .u-section-1 .u-list-1 {grid-template-columns: 100%; width: 540px; margin-left: calc(((100% - 540px) / 2))}
.u-section-1 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-container-layout-3 {padding-left: 20px; padding-right: 20px} }

@media (max-width: 575px){ .u-section-1 .u-list-1 {width: 340px; margin-left: calc(((100% - 340px) / 2))} }